<link rel="stylesheet" type="text/css" href="style.css">
<div class='wrapper'>
  <div class='sidebar'>
    <div class='title'>
      Krishna Teja
    </div>
    <ul class='nav'>
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>Skills</a>
      </li>
      <li>
        <a class='active'>Achievements</a>
      </li>
      <li>
        <a>Experiments</a>
      </li>
      <li>
        <a>Projects</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
  </div>
  <div class='content isOpen'>
    <a class='button'></a>
    <h1>Flexbox Canvas Menu</h1>
  </div>
</div>
<script type="text/javascript" src="script.js"></script>