<style>
 ::-webkit-scrollbar{width: 2px;}
 ::-webkit-scrollbar-track{background-color:#fff;}
 ::-webkit-scrollbar-thumb{background-color:#fff;}

body{
 font-family:"Open Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
 color: #fff;
 text-shadow: 1px 1px 5px #000;
 text-align: center;
 margin:0 auto;
 padding:4px;
 position: relative;
 background-color: #000;
 background-image: -webkit-gradient(linear, 0 100%, 100% 0,
    color-stop(.25, rgba(255, 255, 255, .2)), 
    color-stop(.25, transparent),
    color-stop(.5, transparent), 
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.75, rgba(255, 255, 255, .2)),
    color-stop(.75, transparent), to(transparent));
 background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 -webkit-background-size: 36px 36px;
 -moz-background-size: 36px 36px;
 background-size: 36px 36px;
 background-position: fixed;}

a{text-decoration:none; color:#fff; outline: none; font-family:"Open Sans", "Trebuchet MS", Helvetica, Arial, sans-serif; text-shadow: 1px 1px 5px #000;}

.box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    padding:.5% 1%;}

section > article {    
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}

article {border:1px solid #fff;}

header{margin-bottom:4px; padding:.5%; border:1px solid #fff;}
footer{margin-top:0px; padding:.5%; border:1px solid #fff;}

p, h1, h2, h3 {margin: 2px;}

section{width:50%;} /* Equal Columns */

article{-webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto; padding:.5%; margin:2px; margin-top:0px; margin-bottom:4px;}

.box > header{width:100%; height: auto; background: rgba(153, 0, 102, .5); margin: 0px 2px; margin-bottom:4px;}
.box > footer{width:100%; height: auto; background: rgba(153, 0, 102, .5); margin: 0px 2px;}

.box > header:hover, .box > footer:hover {  
-webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(153, 0, 102, .65);}

/*Left Post Colors*/

article:nth-of-type(4n+1) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(255, 0, 51, .5);}

article:nth-of-type(4n+2) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(170, 221, 51, .5);}

article:nth-of-type(4n+3) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(51, 204, 204, .5);}

article:nth-of-type(4n+4) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(204, 204, 0, .5);}

/* Left Post Hovers */
article:nth-of-type(4n+1):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(255, 0, 51, .65);}

article:nth-of-type(4n+2):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(170, 221, 51, .65);}

article:nth-of-type(4n+3):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(51, 204, 204, .65);}

article:nth-of-type(4n+4):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(204, 204, 0, .65);}

/*Right Post Colors*/

.reverse:nth-of-type(4n+1) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(51, 204, 204, .5);}

.reverse:nth-of-type(4n+2) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(204, 204, 0, .5);}


.reverse:nth-of-type(4n+3) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(255, 0, 51, .5);}

.reverse:nth-of-type(4n+4) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(170, 221, 51, .5);}

/*Right Post Hover*/

.reverse:nth-of-type(4n+1):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(51, 204, 204, .65);}

.reverse:nth-of-type(4n+2):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(204, 204, 0, .65);}


.reverse:nth-of-type(4n+3):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(255, 0, 51, .65);}

.reverse:nth-of-type(4n+4):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(170, 221, 51, .65);}

/* Jump to Top of Page Link */

div.jump {position:fixed; background: rgba(0,0,0, .25); border:1px solid rgba(255, 255, 255, .25); z-index:100; padding: 1px; bottom:0;
 display:block; 
 height:12px;
 width:12px; 
 -webkit-transition: background 0.75s ease-in-out; 
 -moz-transition: background 0.75s ease-in-out; 
 -o-transition: background 0.75s ease-in-out; 
 -ms-transition: background 0.75s ease-in-out;
  transition: background 0.75s ease-in-out;
 -webkit-transition: border 0.75s ease-in-out; 
 -moz-transition: border 0.75s ease-in-out; 
 -o-transition: border 0.75s ease-in-out; 
 -ms-transition: border 0.75s ease-in-out;
  transition: border 0.75s ease-in-out;}
div.jump:hover {background: rgba(0,0,0, 1); border: 1px solid rgba(255, 255, 255, 1);}
.up {width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid rgba(255, 255, 255, .25); margin: 0 auto; padding-top:3px;
 -webkit-transition: border 0.5s ease-in-out; 
 -moz-transition: border 0.5s ease-in-out; 
 -o-transition: border 0.5s ease-in-out; 
 -ms-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;}
.up:hover{border-bottom: 6px solid rgba(255, 255, 255, 1);}

/* One Column Layout for Mobile */

@media only screen and (max-width: 480px) {
  section{width:100%;}

/* Regulated Background Post Pattern */

.reverse:nth-of-type(4n+1) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(255, 0, 51, .5);}

.reverse:nth-of-type(4n+2) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(170, 221, 51, .5);}

.reverse:nth-of-type(4n+3) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(51, 204, 204, .5);}

.reverse:nth-of-type(4n+4) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(204, 204, 0, .5);}

/* Regulated Background Post Pattern Hover */

.reverse:nth-of-type(4n+1):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(255, 0, 51, .65);}

.reverse:nth-of-type(4n+2):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(170, 221, 51, .65);}

.reverse:nth-of-type(4n+3):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(51, 204, 204, .65);}

.reverse:nth-of-type(4n+4):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(204, 204, 0, .65);}}

/* Mobile Layout w/Screens larger than 480px */

@media all and (orientation: portrait) {
  section{width:100%;}

/* Regulated Background Post Pattern */

.reverse:nth-of-type(4n+1) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(255, 0, 51, .5);}

.reverse:nth-of-type(4n+2) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(170, 221, 51, .5);}

.reverse:nth-of-type(4n+3) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(51, 204, 204, .5);}

.reverse:nth-of-type(4n+4) {
    -webkit-order: 0; -ms-flex-order: 0; order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto; flex: 0 1 auto;
    -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto;
    background: rgba(204, 204, 0, .5);}

/* Regulated Background Post Pattern Hover */

.reverse:nth-of-type(4n+1):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(255, 0, 51, .65);}

.reverse:nth-of-type(4n+2):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(170, 221, 51, .65);}

.reverse:nth-of-type(4n+3):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(51, 204, 204, .65);}

.reverse:nth-of-type(4n+4):hover {
 -webkit-transition: background 0.35s ease-in-out; 
 -moz-transition: background 0.35s ease-in-out; 
 -o-transition: background 0.35s ease-in-out; 
 -ms-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
    background: rgba(204, 204, 0, .65);}}
</style>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>